<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>


    <div id="box">
        <div>

            <input v-model="title" placeholder="标题" ><br>
            <input v-model="input" v-on:keyup.enter="add">
            <button v-on:click="push">提交</button>
            <div style="background-color: #93a8bc">
                <h3>待提交数据</h3>
                标题：<font color="#ff9c47">{{title}}</font>
                <ul>
                    <li v-for="(item,index) in contents">{{item}}</li>
                </ul>
            </div>

        </div>

        <div v-for="(item,index) in list">
            <item v-bind:item="item" :index="index" :toggle="toggle"></item>
        </div>
    </div>

</body>
</html>
<script>

    //局部组件，先注册，后使用
    var item = {
        props: ["item","index","toggle"],
        template: ` <div>
                        <h3 v-on:click="toggle(index)" > {{item.title}}</h3>
                        <ul v-show="item.flag">
                            <li v-for="(dtl,indexD) in item.contents" >
                                {{dtl}}
                            </li>
                        </ul>
                    </div>
                    `
    }
    new Vue({
        el:"#box",
        data: {
            title:"",
            input: "",
            contents:[],
            list:[
                {
                    title:"我的视频",
                    flag :true,
                    contents:["速度与激情1","速度与激情2","速度与激情3"]
                },
                {
                    title:"我的项目",
                    flag :true,
                    contents:["越秀","立白","银宝山新"]
                }
            ]
        },
        components: {
            item
        },
        methods: {
            toggle: function (index) {
                this.list[index].flag = !this.list[index].flag;
            },
            clear: function () {
                this.input = "";
                this.contents = [];
                this.obj = null;
                this.title = "";
            },
            add: function () {
                this.contents.push(this.input);
                this.input = "";

            },
            push:function (){
                var dtl = {
                    title:this.title,
                    flag :true,
                    contents: this.contents
                }
                this.list.push(dtl);
                this.clear();

            }

        }
    })
</script>
